@model mikevh.sqrl.Controllers.IndexVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Login <a href="@Model.SQRLLoginLink">Login</a></p>
</div>
