@model mikevh.sqrl.Controllers.IndexVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="@Model.SQRLLoginLink" encoded-sqrl-url="@Model.EncodedSQRLURL" onclick="sqrlLinkClick(this); return true;" >Login</a></p>
    <img src="@Model.QRCodeImageSrc"/>
</div>

@section Scripts {
<script src="~/js/sqrl.js"></script>
}
